body{
    font-family: "Roboto";
}


#gallery-wrapper::-webkit-scrollbar
{
    display: none;     
}

#gallery-wrapper
{
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.efeito-titulo-topo,.efeito-video, .efeito-caue, .efeito-coriolano, .efeito-tudo, .efeito-fundador {
 /*   visibility: hidden;*/
}
@media(max-width: 520px)
{
    html,body{
        font-size: 87.5%;
    }
}

